<%= form_with model: model, url: admin_category_piece_path, method: :patch, multipart: true do |form| %>
  <div class="form-group">
    <p style="font-weight: 600" class="float-left">Media</p>
    <label for="piece_assets" class="btn-link float-right" style="font-weight: 400">+ add</label>
  </div>
  <div class="clearfix"></div>
  <% model.assets.each do |asset| %>
    <div class="clearfix p-1 border border-gray mb-2">
      <div class="float-left mr-3">
        <%= image_tag rails_blob_url(asset), style: "width: 100px; display: block;" %>
      </div>
      <div class="overflow-hidden">
        hello
      </div>
    </div>
  <% end %>
  <%= form.file_field :assets, multiple: true, class: "file-input js-file-input" %>
  <div class="d-flex" style="width: calc(100% + 20px); margin-left: -10px;">
    <% model.assets.each do |asset| %>
      <%= form.hidden_field :assets, multiple: true, value: asset.signed_id, id: nil %>
    <% end %>
  </div>
<% end %>
