<nav aria-label="Breadcrumb">
  <ol>
    <li class="breadcrumb-item"><%= link_to category.name, admin_category_path(category) %></li>
    <li class="breadcrumb-item" aria-current="page">New <%= category.name.downcase.singularize %></li>
  </ol>
</nav>
<hr>
<h1>New <%= category.name.singularize %></h1>
<hr>
<%= render partial: "admin/pieces/form", locals: { method: :post, model: piece } %>
