<% if info.present? %>
  <div class="d-flex flex-items-center flex-justify-center height-full">
    <div class="info" style="max-width: 50%">
      <%= render_markdown(info.bio) %>
    </div>
  </div>
<% end %>
