<nav aria-label="Breadcrumb">
  <ol>
    <li class="breadcrumb-item"><%= link_to "Categories", admin_root_path %></li>
  </ol>
</nav>
<hr>
<%= render partial: "admin/categories/form", locals: { method: :patch, model: category } %>