<nav aria-label="Breadcrumb">
  <ol>
    <li class="breadcrumb-item" aria-current="page"><%= link_to "Categories", admin_root_path %></li>
  </ol>
</nav>
<hr>
<%= render partial: "admin/categories/form", locals: { method: :post, model: category } %>
