<div class="nav">
  <h1>Jennifer Boyd</h1>
  <% Category.all.each do |category| %>
    <a href="<%= category_path(category) %>" class="nav-item <%= "selected" if category.slug == params[:slug] %>"><%= category.name %></a>
  <% end %>
  <a href="#" class="nav-item">Bio</a>
  <a href="#" class="nav-item">Contact</a>
</div>
