<h1>Jennifer Boyd</h1>
<% Category.all.each do |category| %>
  <p>
    <a href="<%= category_path(category) %>" class="nav-item <%= "selected" if category.slug == params[:slug] %>"><%= category.name %></a>
  </p>
<% end %>
