<div class="nav">
  <a href="/">
    <img src="/name.jpeg" width="220"/>
  </a>
  <% Category.all.order(position: :asc).each do |category| %>
    <a href="<%= category_path(category) %>" class="nav-item <%= "selected" if category.slug == params[:slug] %>">
      <%= category.name.downcase %>
    </a>
  <% end %>
  <a href="<%= info_path %>" class="nav-item">info</a>
</div>
