@import "@primer/css/index.scss";

.file-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.sortable {
  .handle {
    cursor: grab;
  }

  .trashcan {
    cursor: pointer;
  }

  .sortable-placeholder {
    background-color: #f7f7f7;
    margin-left: -4px;
  }

  .sortable-item {
    background: rgba(255, 255, 255, 0.95);
  }
}

.loader {
  border: 3px solid #f3f3f3;
  border-top: 4px solid #555;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
  display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
