@import "@primer/css/index.scss";

.file-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.sortable {
  .handle {
    cursor: grab;
  }

  .trashcan {
    cursor: pointer;
  }

  .sortable-placeholder {
    background-color: #f7f7f7;
    margin-left: -4px;
  }

  .sortable-item {
    background: rgba(255, 255, 255, 0.95);
  }
}
