@import "@primer/css/index.scss";
@import "./gallery";

h1 {
  font-size: 26px;
}

.scene {
  perspective: 320px;
  perspective-origin: 3% 34%;
}

.room {
  background: rgba(0, 0, 0, 0.2);
  height: 100vh;
  transform-style: preserve-3d;
  transform: translateZ(0px) translateY(-100px);
}

.left {
  transform: rotateY(-337deg) translate3d(-33px, -2px, 53px);
  text-align: center;
  background-color: white;
  width: 310px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align:right;
}

.wall {
  position: absolute;
  height: 100%;
  border: 2px solid black;
  border-right: none;
}

.back {
  margin-left: 289px;
  width: calc(100% - 287px);
  background-color: white;
  padding-top: 98px;
}

.width-full {
  width: 100%;
}

.nav {
  .nav-item {
    font-size: 26px;
    display: block;
    color: black;

    &.selected {
      color: #8e8e8e;
    }
  }
}

.piece-asset-container {
  position: relative;

  .hover-sign {
    position: absolute;
    border: 1px solid black;
    bottom: 20px;
    left: -80px;
    width: 50px;
    height: 35px;
    background: white;

    &:hover {
      background: #f2f2f2;
    }
  }
}

.piece-details {
  position: absolute;
  left: 50px;
  width: 300px;
  border: 1px solid black;
  padding: 14px;
  background: white;
}

.mobile {
  display: none;

  .height-full { height: auto; }
  img { width: 100%; }
  video { width: 100%; }
}

@media screen and (max-width: 810px) {
  .scene { display: none; }
  .mobile {
    display: block;

    &.mobile-header { display: flex; }
  }
}

.mobile-menu {
  position: absolute;
  top: 0;
  overflow: auto;
  height: 100vh;
  z-index: 2;
  transform: translateY(0);
  display: none;
  padding-top: 92px;

  &.active {
    display: block;
  }

  a {
    display: block;
    font-size: 32px;
    color: black;
    margin-top: 20px;

    &.selected {
      color: #8e8e8e;
    }
  }
}

.mobile-asset {
  margin-bottom: 100px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
  opacity: 0;
  transition-duration: 0.4s;

  &.visible {
    opacity: 1;
  }
}
