@import "@primer/css/index.scss";
@import "./gallery";

h1 {
  font-family: 'rockwell';
}

.scene {
  perspective: 320px;
  perspective-origin: 3% 34%;
}

.room {
  background: rgba(0, 0, 0, 0.2);
  height: 100vh;
  transform-style: preserve-3d;
  transform: translateZ(0px) translateY(-100px);
}

.left {
  transform: rotateY(-337deg) translateZ(53px) translateX(-32px);
  text-align: center;
  background-color: white;
  width: 310px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align:right;
}

.wall {
  position: absolute;
  height: 100%;
  border: 2px solid black;
  border-right: none;
}

.back {
  margin-left: 289px;
  width: calc(100% - 287px);
  background-color: white;
}

.width-full {
  width: 100%;
}

.nav {
  .nav-item {
    font-family: 'rockwell';
    font-size: 22px;
    display: block;
    color: black;

    &.selected {
      font-weight: bold;
    }
  }
}

.piece-asset-container {
  position: relative;

  .hover-sign {
    position: absolute;
    border: 1px solid black;
    bottom: 20px;
    right: -80px;
    width: 50px;
    height: 35px;
    background: white;

    .piece-details {
      position: absolute;
      left: 50px;
      bottom: 35px;
      border: 1px solid black;
      padding: 14px;
      display: none;

      .description {
        white-space: pre;
      }
    }

    &:hover {
      background: #f2f2f2;

      .piece-details {
         display: block;
      }
    }
  }
}

.mobile {
  display: none;

  .height-full { height: auto; }
  img { width: 100%; }
}
@media screen and (max-width: 414px) {
  .scene { display: none; }
  .mobile { display: block; }
}
