<div class="d-flex flex-items-center flex-justify-center height-full">
  <div class="info" style="max-width: 50%">
    <%= render_markdown(info.bio) %>
    <a href="<% resume.attachment.url.sub(/\?.*/, '') %>">cv</a>
  </div>
</div>

<% content_for :mobile do %>
  <div class="d-flex flex-items-center height-full p-3">
    <div class="info" style="max-width: 70%">
      <%= render_markdown(info.bio) %>
    </div>
  </div>
<% end %>
