<div class="d-flex flex-items-center flex-justify-center height-full">
  <div class="sans-serif">
    <%= render_markdown(info.bio) %>
  </div>
</div>

<% content_for :mobile do %>
  <div class="d-flex flex-items-center flex-justify-center height-full">
    <div class="sans-serif">
      <%= render_markdown(info.bio) %>
    </div>
  </div>
<% end %>
